html,body{
    position: absolute;
    width: 100vw;
    height: 300vh;
    background: linear-gradient(133deg, rgba(233,233,233,1) 0%, rgba(255,255,255,1) 100%);
    min-width:920px;
}



h1{
    font: 60px Impact, fantasy;
    text-align: center;
    position: relative;
    
    
}



*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header{
    position:relative;
    background-color:white;
    display: flex;
    width: 100vw;
    height:54px;
    min-width:920px;
}

header ul{
    margin:auto;

}
header ul li{
    margin:auto 20px;
    display:inline;
    line-height:54px;
}
header ul li a{
    font-family: Impact, fantasy;
    font-size: 20px;
    color:#09181F;
    transition: color 0.1s;
    cursor: pointer;
}
header ul li a:hover{
    color:#11303B;

}