.color1 { color: #121D26; }
.color2 { color: #394D59; }
.color3 { color: #4D6873; }
.color4 { color: #C1D4D9; }
.color5 { color: #0D0D0D; }

html,body{
    position: absolute;
    width: 100vw;
    height: 300vh;
    background-color: #394D59;
    min-width:920px;
    overflow: hidden;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    user-select: none;
    -webkit-user-drag: none;
}

.rick{
    margin: 50px 0;
    text-align: center;
}

h1{
    font: 70px Impact, fantasy;
    text-align: center;
    position: relative;
    color:#fff;
    background-color: #121D26;
    padding: 7px 0;
    text-decoration: underline 4px;
}

header{
    position:relative;
    background-color:#121D26;
    display: flex;
    width: 100vw;
    height:54px;
    min-width:920px;
}

header ul{
    margin:auto;
}

header ul li{
    margin:auto 20px;
    display:inline;
    line-height:54px;
}

header ul li a{
    font-family: Impact, fantasy;
    font-size: 20px;
    color:#fff;
    transition: color 0.1s;
    cursor: pointer;
    text-decoration: none;
    padding: 15px 17px;
}

header ul li a:hover{
    background-color:#11303B;
}

line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #C1D4D9;
    margin: 0;
    padding: 0;
}


.best {
    margin-top: 25px;
    width: 100vw;
    height: auto;
    min-height: 400px;
    min-width: 1500px;
    padding: 5% 10vw;
    display: flex;
}

.best div {
    background-color: #2b4449;
    border: solid;
    border-radius: 10px;
    border-color: #11303B;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 20%;
    aspect-ratio: 4/3;
    justify-content: center;
    margin: 0 auto;
}
.best div img {
    border-radius: 0;
    border: 0;
    margin-top: 10px;
    width: 90%;
    aspect-ratio: 1;
}

.best div p {
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 15px 0;
    font-size: 30px;
    font-family: Impact;
}